.Navbar {
  display: flex;
  padding: 3px;
  height: 6vh;
  align-items: center;
  margin-left: 5px;
  justify-content: flex-start;
}
.logo a {
  text-decoration: none;
  color: black;
}

.logo {
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 1.5px;
}

.slider {
  width: 350px;
  margin: 0 20px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
  width: 100%;
  background-color: rgb(192, 178, 178, 0.4);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 14px;
  height: 14px;
  margin-left: -2px;
  margin-top: -3px;
}
